@model IEnumerable<Sports.Models.Sport>
@using Sports.Models;

@{
    ViewData["Title"] = "ViewSports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Sports List</h2>
    @Html.ActionLink("Create new sport", "Create")
</div>

<div>
    <h4>Sport</h4>
    <hr />
    <dl class="row">
        @foreach (Sport sport in @Model)
        {
        <dt class="col-sm-2">
            <li>@Html.ActionLink(sport.SportName, "BySportId", "Sports", new { id = sport.SportId }, null)</li>
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        }
        </dl>
</div>