@model IEnumerable<Sports.Models.Sport>
@using Sports.Models;

@{
    ViewData["Title"] = "ViewSports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Sports List</h2>
    @Html.ActionLink("Create new sport", "Create")

    <ul>
        @foreach (Sport sport in @Model)
        {
            <li>@Html.ActionLink(sport.SportName, "BySportId", "Sports", new { id = sport.SportId }, null)</li>
        }
    </ul>
</div>